<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grandma_enjoys_music.name %>
</p>

<p>
  <strong>Form:</strong>
  <%= @grandma_enjoys_music.form %>
</p>

<%= link_to 'Edit', edit_grandma_enjoys_music_path(@grandma_enjoys_music) %> |
<%= link_to 'Back', grandma_enjoys_musics_path %>
